<div class="container-fluid">
  <div class="row">
    <div class="pending-homepage employee-blocks">
      <h3>Pending Your Confirmation</h3>

      <%= render partial: 'pending_audit_confirmations' %>
    </div>
    <div class="pending-homepage employee-blocks">
      sdfsdfsdf
    </div>
  </div>
</div>