<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 column jumbotron employee-blocks">
      sdfsdfsdf
    </div>
    <div class="col-md-5 column jumbotron employee-blocks">
      sdfsdfsdf
    </div>
  </div>
</div>