.pending-homepage {
  height: 60vh;
  overflow-y: auto;
  margin: 20px 0;
  padding: 20px;
  background: #e3e3e3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.homepage-block {
  background: #1d3c91;
  padding: 15px;
  margin: 15px;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.homepage-block:hover {
  background-color: #172b63;
}

.pending-details {
  font-weight: 900;
}
